include ../components/organisms/_jarallaxBackground
include ../index/_sectionService
include ../moto/_compareTable
include ../common/_stepList

.coming__container
    //- Banner
    .overlay_mask
        +jarallaxBackground('../assets/images/coming01.jpg')

    h2 COMING SOON
