include ./section/_sectionBanner

doctype html
html(lang="zh-Hant")

    // Include Common Head
    include common/_head

    // Main
    body
        include ./common/_header

        main
            #content.content

                // Banner
                +sectionBanner('https://youtu.be/w-wnanr0CxQ')

                // Introduction
                include ./section/_sectionIntroduction

                // Advantage
                include ./section/_sectionAdvantage

                // Background
                include ./section/_sectionBackground

                // Service
                include ./section/_sectionService

                // Warn
                include ./section/_sectionWarn

                // Team
                include ./section/_sectionTeam

                // Lawyer
                include ./section/_sectionLawyer

                // Legalization
                include ./section/_sectionLegalization

                // Faq
                include section/_sectionFaq

        #cover__menu.cover__menu

        include common/_footer

        include common/_script
