include ./index/_sectionBanner

doctype html
html(lang="zh-Hant")

    // Include Common Head
    include common/_head

    // Main
    body
        include ./common/_header

        main
            #content.content

                // Banner
                +sectionBanner('https://youtu.be/w-wnanr0CxQ')

                // Introduction
                include ./index/_sectionIntroduction

                // Advantage
                include ./index/_sectionAdvantage

                // Background
                include ./index/_sectionBackground

                // Service
                include ./index/_sectionService

                // Warn
                include ./index/_sectionWarn

                // Team
                include ./index/_sectionTeam

                // Lawyer
                include ./index/_sectionLawyer

                // Legalization
                include ./index/_sectionLegalization

                // Faq
                include ./index/_sectionFaq

                // Entry Link
                include ./common/_entry

        #cover__menu.cover__men

        include common/_footer

        include common/_script
