//- Step Title
mixin txt
    .txt__wrap.opacity-0.scroll__animation(
        data-os-animation="slide-in-bottom"
        data-os-animation-delay="0s"
        data-os-animation-Frequency="once"
    )
        .txt__wrap__title
            span.en.d-block.color-main 機車申辦、快速說明
            span.tw.d-block.color-black 申辦步驟