.section.team
    +pad
        margin-bottom: 0

    .section__inner
        +pad
            margin-top: 0
            padding-bottom: 0
            display: block

        &:after
            +pad
                opacity: 0

    .txt
        &:first-child
            +pad
                margin-bottom: 35px

        +pad
            width: 100%
            max-width: 640px
            margin: 0 auto 100px auto
            order: 1
            padding: 0 20px

        .button_wrap
            +pad
                justify-content: flex-start
