.entry__link.mt-200
    a(href="javascript:void(0);").entry__item
        .bg(style="background-image: url('./assets/images/application.jpg');")
        .txt
            .txt__inner
                span.en.color-white.d-block Application
                span.tw.color-white.d-block 立即線上申請
                .button__wrap
                    span.text Apply now
                    span.arrow

    a(href="javascript:void(0);").entry__item
        .bg(style="background-image: url('./assets/images/chat.jpg');")
        .txt
            .txt__inner
                span.en.color-white.d-block Customer Service
                span.tw.color-white.d-block 聯繫線上客服
                .button__wrap
                    span.text Chat support
                    span.arrow