hr.footer_hr

// footer section
section.container-fluid.footer_section
    p
        | &copy;
        | 2022 All Rights Reserved. Design by
        a(href='index.html')  Hubert Hsieh

footer
    script(type='text/javascript' src='./assets/js/jquery-3.6.0.min.js')
    script(type='text/javascript' src='./assets/js/jarallax.js')
    script(type='text/javascript' src='./assets/js/jarallax-video.js')
    script(type='text/javascript' src='./assets/js/main.js')
