head
    // Basic
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')

    // Mobile Metas
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')

    // Site Metas
    // You could customize your content's value for yourself.
    meta(name='keywords' content='機車貸款、汽車貸款、二胎貸款、信用貸款')
    meta(name='description' content='2022機車貸款最高額度55萬，最快一天就能審核撥款，只要年滿20歲並名下擁有機車，免留車、免保人，線上申請即審核。汽機車貸款、二胎房貸就要找熊蓋厚貸幫您貸得更好。')
    meta(name='author' content='熊蓋厚貸')

    // favicon
    link(rel="shortcut icon" type="image/x-icon" href="../assets/images/favicon.svg")
    title 熊蓋厚貸

    // standard url
    link(rel="canonical" href="")

    // fonts style
    link(href='https://fonts.googleapis.com/css?family=Dosis:400,500|Poppins:400,600,700&display=swap' rel='stylesheet')
    link(href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;500&display=swap" rel="stylesheet")

    // Custom styles
    link(href='./assets/css/style.css' rel='stylesheet')


