mixin script(options)
    each item in options.length ? options : ['請引入script']
        script(type=item.type src=item.src)

//- Throw your props into footer-script component
+script([
    {
        type: 'text/javascript',
        src: './assets/js/jquery-3.6.0.min.js'
    },
    {
        type: 'text/javascript',
        src: './assets/js/jarallax.js'
    },
    {
        type: 'text/javascript',
        src: './assets/js/jarallax-video.js'
    },
    {
        type: 'text/javascript',
        src: './assets/js/waypoints.min.js'
    },
    {
        type: 'text/javascript',
        src: './assets/js/main.js'
    }
])


