include ../molecules/_jarallax

// Background Image Parallax
+jarallaxImg(
    'https://images.pexels.com/photos/4632865/pexels-photo-4632865.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1',
    'banner'
)

h2 This is Jarallax Section

// Alternate: Background Image Parallax
+jarallaxBackground(
    "'https://images.pexels.com/photos/950222/pexels-photo-950222.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'"
)

// Background YouTube Parallax
+jarallaxYouTube(
    'https://www.youtube.com/watch?v=ab0TSkLe-E0'
)

// Background Vimeo Parallax
+jarallaxVimeo(
    'https://vimeo.com/110138539'
)
