video#video(preload, autoplay, muted, playsinline, webkit-playsinline)
    source(src="https://file-examples.com/storage/feb8f98f1d627c0dc94b8cf/2017/04/file_example_MP4_1280_10MG.mp4", type="video/mp4")